notes/
perfumy/
reestar/
Fluid_layout
3d_responsive_card
animated_circular_social
blurry loading page
guess the number
loader
login page
movie booking page
text masking
text_to_speech
.gitignore
requirements.txt