* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.animated-radial-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.animated-radial-menu .menu {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-radial-menu .menu .toggle {
    position: absolute;
    width: 95px;
    height: 95px;
    background: black;
    border: 2px solid white;
    border-radius: 70px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    font-size: 2em;
    transition: transform .5s;
}

.animated-radial-menu .menu .toggle i {
    font-size: 65px;
}

.animated-radial-menu .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.3s;
    margin: 11px;
    --i: 0;
    transition-delay: calc(0.04*var(--i));
    transform: rotate(0deg) translateX(110px);
    transform-origin: 140px;
}

.animated-radial-menu .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.8em;
    transform: rotate(calc(-51.42deg * var(--i)));
    transition: .3s;
    border: 2px solid white;
    padding: 1.1em;
    color: aqua;
}

.animated-radial-menu .menu.active li {
    transform: rotate(calc(360deg/7 * var(--i))) translateY(80px);
}

.animated-radial-menu .menu.active .toggle {
    transform: rotate(315deg);
}

.animated-radial-menu .menu li a:hover {
    background: aqua;
    transition: .2s ease-in-out;
    overflow: hidden;
    color: black;
    border: none;
}