* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(125deg, #e0bcff, #a7c9ff);
    color: #fff;
    padding: 4% 10%;
    
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    color: #e74c3c;
}

.icon {
    max-width: 50px;
    height: auto;
}

.logo {
    max-width: auto;
    height: 70px;
    background-color: transparent;
}

button {
    display: flex;
    align-items: center;
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button img {
    margin-right: 10px;
    height: 20px;
}

button:hover {
    background-color: #5551e8;
}

#notesContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}

.note {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; /* Set a maximum width for the note container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px; /* Add margin to separate notes */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack the note contents vertically */
}

.note p {
    word-wrap: break-word;
}

.note button {
    /* position: relative; */
    /* top: 10px; */
    /* right: 10px; */
    background-color: transparent;
    color: #cf8917;
    border: none;
    cursor: pointer;
    font-size: 14px;
    max-width: calc(100% - 20px); /* Set a maximum width for the buttons */
    /* margin-left: 5px;  */
    /* Add some margin between buttons */
}

.note button:hover {
    color: #e74c3c;
}

.note .note-buttons {
    display: flex;
    justify-content: flex-end; 
    /* Align buttons to the end of the note */
    /* margin-top: 10px; Add some margin from the top */
    position: relative;
     /* Position the buttons absolutely within the note */
    /* top: 10px; */
    /* right: 10px;
    gap: 5px; */
    margin-left: auto;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
}

#noteText {
    width: 100%;
    height: 200px;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#saveNoteBtn {
    display: block;
    width: 100%;
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#saveNoteBtn:hover {
    background-color: #5551e8;
}
